.main_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(224, 220, 215);
  height: 100vh;
}
.eachItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-logo{
  height: 70px;
}